@media screen and (max-width:500px) {

    .sidebar {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        gap: 1rem;
    }

    .app-bar {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .menu {
        display: flex;
        cursor: pointer;
        font-size: 2rem;
    }

    .extend {
        display: none;
    }

    .view {
        display: flex;
        flex-direction: column;
    }
}